/******************************************************************
ACF Flexible Content admin UX (handles, collapse-all, choice thumbs)
Paired with acf-flex-layouts.js
******************************************************************/

.acf-fc-layout-handle {
    display: grid !important;
    grid-template-columns: 30px 100px 1fr 2fr 0.5fr;
    align-items: center;
    gap: 0.5rem;
    grid-template-areas: "order thumbnail type title actions"; /* Define grid areas */
}

.acf-fc-layout-handle .acf-fc-layout-order {
    grid-area: order; /* Assign grid area */
}

/* When there is no thumbnail, title takes over the thumbnail and type areas */
.acf-fc-layout-handle .no-thumbnail + .acf-layout-type {
    grid-area: thumbnail; /* This will effectively hide the type label */
    grid-column: span 2; /* This will make the title span the thumbnail and type areas */
}

.acf-fc-layout-handle .thumbnail:not(.no-thumbnail) {
    grid-area: thumbnail; /* Assign grid area */
    display: flex;
    justify-content: center; /* Center thumbnail if it exists */
    align-items: center;

    img {
        object-fit: contain;
        max-width: 100%;
    }
}

.acf-fc-layout-handle .acf-layout-type {
    grid-area: type; /* Assign grid area */
    font-size: .8rem;
    font-weight: 500;
    font-style: italic;
    color: #fff !important;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    box-shadow: 0 0 10px rgb(0 0 0 / 7%);
}

.acf-fc-layout-handle .acf-layout-title {
    grid-area: title; /* Assign grid area */
    font-size: .8rem;
    font-weight: 500;
    background: #fff;
    color: #1d2327 !important;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    box-shadow: 0 0 10px rgb(0 0 0 / 7%);
}

.acf-icon.-clear {
    background: #f5f5f5 !important;
}

/* Placeholder for actions area if you have action buttons or icons */
.acf-fc-layout-handle .actions {
    grid-area: actions; /* Assign grid area for future use if there are action buttons or icons */
}

.acf-label:has([data-collapse="all"]) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acf-tooltip.acf-fc-popup li a {
    position: relative;
}

.acf-tooltip.acf-fc-popup li a img {
    position: absolute;
    top: 0;
    right: 100%;
    transform: translateX(-1rem);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    width: auto;
    max-width: 320px;
    padding: 0.5rem;
    background: #d5d5d5;
    box-shadow: 0 0 2px #00000088;
    border-radius: 1%;
}

.acf-tooltip.acf-fc-popup li a:hover img {
    opacity: 1;
}
